@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../css/fonts/basement-grotesque.css";

:root {
  --gap: 1rem;
}

@layer utilities {
  .text-shadow-white {
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff;
  }
}

*,
*:before,
*:after {
  cursor: url("../public/eye.svg"), auto;
}

html,
body,
#__next {
  height: 100%;
  background: black;
  color: white;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
